includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 6

    ignoreErrors:
        - '#Method .*::.*\(\) return type with generic class .* does not specify its types#'
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php